# OPENAI
#OPENAI_BASE_URL=...
#OPENAIAPI_KEY=...

# ANTHROPIC
#ANTHROPIC_API_KEY=...

# LANGSMITH
#LANGSMITH_TRACING=true
#LANGSMITH_ENDPOINT=https://api.smith.langchain.com
#LANGSMITH_API_KEY=...
#LANGSMITH_PROJECT=...